%head
  %meta{ charset: :'utf-8' }
  %link{ rel: :stylesheet, type: :'text/css', href: :'./stylesheets/mq-styles.css' }
  %link{ rel: :stylesheet, type: :'text/css', href: :'./stylesheets/styles.css' }
  %title
    CedInk

%body
  #container
    #header
      %h1
        = link_to('CED INK', url('/'))

      %nav
        %ul
          %li
            = link_to('Home', url('/'))
          %li
            = link_to('Show', url('/show'))
          %li
            = link_to('Contact', url('/contact'))

    = yield

    %footer
      %p
        Je suis le footer